<p>forms works!dfadfa</p>

<!-- <input type="text" [(ngModel)]="binding"> -->

<form action="">
numA
<input type="text" name="a" id="data1">
numB
<input type="text" name="b" id="data2">
<h4>{{3*3}}</h4>
<div *ng></div>
<!-- <input [(ngModel)]='textoDeInput'
type="text"
class="form-control"
placeholder=""
aria-label=""
aria-describedby="basic-addon1"> -->dfadf
<!-- nombre="jda"; -->
<input type="text" [(ngModel)]="cod" >

<hr>
<!-- <input type="text" [ngModel]="name" > -->
<!-- Nome: <input type="text" *[(ngModel)]="name" > -->
<input type="text" [(ngModel)]="name">
    
<hr>
<p>{{name}}</p>
<!-- Nome: <input *[(ngModel)]='menu' type="text"> -->
<button (click)="miDate()">INSERT</button>

</form>
